$light_shades: #dedede;
$light_accent: #879a95;
$main_color: #cb562f;
$dark_accent: #b74f50;
$dark_shades: #191919;

header {
    margin: 0;
    padding: 10px;
    position: fixed;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: $dark_accent;
    color: $light_shades;
    font-size: 25px;
    font-family: "Hina Mincho", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: $light_accent;
}

article {
    margin: 50px 25px 0 25px;
    padding: 10px;
    background-color: $light_shades;
    color: $dark_shades
}

h1, h2, h3 {
    color: $main_color;
    text-align: center;
    font-family: "Hina Mincho", sans-serif;
}

p {
    font-family: "Zen Kaku Gothic New", sans-serif;
}

a {
    color: $dark_accent;
    font-family: "Zen Kaku Gothic New", sans-serif;
    text-decoration: none;
}

ul {
    display: flex;
    padding: 0;
}

li {
    list-style: none;
    margin-right: 1rem;
    text-align: center;
}

.member_name {
    font-size: medium;
    color: $dark_accent;
}

.member_description {
    font-size: small;
}